:root {
    --dark: #404144;
    --darkD: #323335;
    --darkL: #55565a;
    --mid: #6c818b;
    --midD: #5d6f77;
    --midL: #859da8;
    --light: #9bacb4;
    --lightD:#94a2a8;
    --lightL:#b1c2ca;
    --boom: #e93a23;
    --boomD: #d1301b;
    --boomL: #f34b35;
    --superLight: lightgray;
}

html {
    font-size: 52.5%;
}

html, body {
    font-family: 'Lato', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #eee;
    font-size: 1.6rem;
    color: #323335;
}

body > *, 
body > *::after, 
body > *::before {
    box-sizing: border-box;
}