ul{
    list-style-type: none;
}

.email-subject{
    margin: 0;
}

.email-head{
    position: fixed;
    top:0;
    left: 0;
    background-color: var(--mid);
    height: 60px;
    width: 100%;
    
    z-index: 1;
    font-size: 3rem;
    align-items: center;
    padding: 0 25px;
    color: var(--superLight);
    margin-bottom: 15px;
}

.email-list{
    margin-top: 65px;
}



.email-preview{
    height: 60px;
}

.email-preview:hover{
    background-color: var(--superLight);
}

.email-preview.unRead{
    font-weight: 800;    
    color: black;
}
.email-date{
    font-weight: 400;
}

.email-sender{
    margin: 5px 0;
}



.prev-content{
    width: 80vw;
    padding-right: 15px;
}

.prev-subject{
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.email-check{
    width: 10px;
    transform: scale(1.5);
    margin: auto;
    margin-right: 10px;
    margin-left: 0
    10px;;
    padding-left: 10px;
}

.burger{
    visibility: visible;
    z-index: 3;
}

.email-preview{

    border-bottom: 1px solid var(--mid);
    padding: 8px 0;
    /* margin-bottom: 8px; */
}

.email-preview:hover{
    cursor: pointer;
}
/* .screen {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: var(--superLight);
    opacity: 0.7;
    transition: opacity .3s;
    cursor: pointer;
} */

.nav-items{
    margin-bottom: 8px;

}
.nav-items:hover{
    cursor: pointer;
    color: var(--darkL);
    margin-bottom: 8px;

}

.main-nav{
    position: fixed;
    font-weight: 600;
    z-index: 2;
    top:60px;
    left: -200px;
    padding: 20px;
    padding-right: 30px;
    font-size: 2rem;
    height: 100vh;
    width:200px;
    color: var(--dark);
    background-color: var(--light);
    transition: 0.3s;


}
/* 
.main-nav:hover{
    transform: translate(198px);
} */
.main-nav.open{
    transform: translate(198px);
}

.close-nav{
    text-align: right;
    margin-bottom: 15px;
    font-size: 2rem;
}

.goHome{
    color: var(--superLight)
}

@media (min-width: 680px){
    .main-nav{
        position: fixed;
        font-weight: 600;
        
        top:60px;
        left: 0;
        /* left: -198px;
        transform: translate(198px); */
 
    }
    .email-list{
        margin-left:190px;
    }
    .burger{
        visibility: hidden;
    }
}