.send-email-container{
    width: 80vw;
    /* border: 1px solid gray; */
    text-align: left;
    margin-left: 30px;
    line-height: 1rem;
    color: var(--dark);


}

.email-edit{
    margin-top: 70px;

}

input{
    width: 100%;
    margin-right:20px;

}

textarea{
    width: 100%;
    margin-right:20px;
}



div.contact{
    text-align: left;
    line-height: 2.2rem;
}
.form-control{
    text-align: left;
    line-height: 2.2rem;
    border-radius: 4px;
    border: 1px solid var(--light);
    margin-bottom: 15px;
}

.submit-btn{
    font-size: 2rem;
}

.submit-btn:hover{
cursor: pointer;
}

.back-arrow{
    color: var(--superLight)
}

.back-arrow:hover{
    cursor: pointer;

}