.side__nav-enter-active, .side__nav-leave-active {
    transition: all .4s ease-out;
}

.side__nav-enter, .side__nav-leave-to {
    transform: translateX(-340px);
}

.side__nav {
    background-color: rgb(188, 231, 248); 
    width: 36rem;
    min-height: 100%;
    left: 0;
}
 
.side__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.side__nav-list:not(:last-child) ,.middle{
    border-bottom: 1px solid rgb(202, 195, 195);
}
.sidenav_title {
    margin: 0;
}

.nav_item {
    min-height: 8rem;
    padding: 1rem 0 1rem 3rem;
    display: flex;
    cursor: pointer;
    align-items: center;
    position: relative;
    font-size: 2.4rem;
    cursor: pointer;
    z-index: 2;
    text-align: center;
    transition: all .3s;
}

.nav_item > span {
    display: inline-block;
    z-index: 2;
}

.nav_item::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 4px;
    height: 100%;
    background-color: rgba(0, 241, 241, 0.822);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.2s;
}

.nav_item:hover::before {
    transform: scaleY(1);
    z-index: 1;
    width: 100%; 
}

.nav_text {
    text-align: center;
    margin: 0;
    margin-top: 2rem;
    font-size: 2.6rem;
}

@media(max-width: 650px) {
    .side__nav {
        position: absolute;
        z-index: 1;
        width: 50vw;
    }
}

@media(max-width: 500px) {
    .nav_item {
        min-height: 4rem;
    }
}